<!-- templates/perfiles/admin_form.html -->
{% extends 'admins/admin_base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="text-3xl font-bold text-blue-700 mb-6">{{ title }}</h2>
    <div class="bg-white p-6 rounded-lg shadow-md">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid grid-cols-1 gap-6">
                {% for field in form %}
                    <div>
                        <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-blue-700">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="text-red-600 text-sm">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="mt-6 inline-block bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700">Guardar</button>
            <a href="{% url 'admins:admin_panel' %}" class="mt-6 inline-block bg-gray-600 text-white py-2 px-4 rounded-lg hover:bg-gray-700 ml-4">Cancelar</a>
        </form>
    </div>
{% endblock %}