<!-- templates/admins/model_form.html -->
{% extends 'admins/base_admin.html' %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{% if object %}Editar{% else %}Crear{% endif %} {{ model._meta.verbose_name }}{% endblock %}
{% block content %}
<div class="bg-white p-6 rounded-lg shadow-lg max-w-2xl mx-auto">
    <form method="POST" class="space-y-4">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="flex flex-col">
                <label for="{{ field.id_for_label }}" class="text-sm font-medium text-gray-700">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <p class="text-red-600 text-sm">{{ field.errors }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <div class="flex justify-end space-x-4">
            <a href="{% url 'admins:'|add:model._meta.model_name|add:'_list' %}" class="bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-700 transition duration-200">Cancelar</a>
            <button type="submit" class="bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700 transition duration-200">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}